<!DOCTYPE html>
<html lang="es">
<head>
    <title>Estadísticas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1 style="text-align: center; margin-bottom: 30px;">Estadísticas de Actividades</h1>

    <div style="width: 500px; height: 300px;">
        <canvas id="graficoLineas" style="display: block; margin-bottom: 20px;"></canvas>
        <canvas id="graficoTorta" style="display: block; margin-bottom: 20px;"></canvas>
        <canvas id="graficoBarras" style="display: block; margin-bottom: 20px;"></canvas>
    </div>

    <a href="{{ url_for('index') }}">← Volver a la portada</a>

    <script src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
</body>
</html>